body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#map{
    height: 100vh;
    width: 100vw;
}
#printPdf{
    position: absolute !important;
    right: 0 !important;
    bottom: 4em !important;
    z-index: 1;
}
#printImg{
    z-index: 1;
    position: absolute !important;

    right: 0 !important;
    bottom: 2em !important;
}